img{
    width: 15%;
    border-bottom: 20%;
}
#skills{
    padding-bottom: 0%;
}
.badge {
    
    text-decoration: solid;
    color: black;
}
.card{
    border: 1px solid black;
}
#proo{
    border: 1px solid black;
}
